<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Reviews</title>
    <link rel="stylesheet" href="./styles/style.css">
</head>
<body>
    <h1>My Book Notes</h1>

    <!--Search bar-->
    <form action="/search" method="get">
        <input type="text" name="query" placeholder="Search for a book...." required>
        <button type="submit">Search</button>
    </form>

    <form id="sortForm">
        <label for="sort">Sort by:</label>
        <select id="sort" name="sortBy" onchange="sortBooks()">
            <option value="created_at-DESC" <% if(sortBy === 'created_at' && order === 'DESC') { %>selected<% } %>>Newest First</option>
            <option value="created_at-ASC" <% if(sortBy === 'created_at' && order === 'ASC') { %>selected<% } %>>Oldest First</option>
            <option value="rating-DESC" <% if(sortBy === 'rating' && order === 'DESC') { %>selected<% } %>>Highest Rating</option>
            <option value="rating-ASC" <% if(sortBy === 'rating' && order === 'ASC') { %>selected<% } %>>Lowest Rating</option>
        </select>
    </form>


    <ul>
        <% books.forEach(book=>{ %>
            <li>
                <img src="<%= book.cover_url %>" alt="Cover of <%= book.title %>">
                <h2><%= book.title %></h2>
                <p><strong>Author: </strong><%= book.author %></p>
                <p><strong>Rating:</strong>
                    <% for(let i=0;i<book.rating;i++){ %>
                        ⭐
                    <% } %>
                </p>
                <p><strong>Book Review: </strong><%= book.review %></p>
                <br>
                <a href="/edit/<%= book.id %>">Edit</a>
                <br><br>
                <form action="/delete/<%= book.id %>" method="POST" style="display:inline;">
                    <button type="submit" onclick="return confirm('Are you sure you want to delete this book?');">❌ Delete</button>
                </form>                
            </li>
        <% }) %>
    </ul>
    <script>
        function sortBooks() {
            let selectedOption = document.getElementById("sort").value;
            let [sortBy, order] = selectedOption.split("-");
            window.location.href = `/?sortBy=${sortBy}&order=${order}`;
        }
    </script>
</body>
</html>